main:not([page="trip"]) .trip-page {
  transform: translate(-10000px, 0px);
  width: 0px;
  height: 0px;
  position: absolute;
}
.trip-page {
  position: absolute;
  top: 50px;
  transform: translate(0px, 0px);
  transition: transform 1s;
}
.trip-page .trip-details {
  position: sticky;
  top: 50px;
  border-bottom: 1px solid #0000001c;
  padding: 16px;
  background-color: white;
  z-index: 99;
  width: calc(100vw - 20px);

  display: flex;
  justify-content: space-between;
}
.trip-page .trip-title {
  position: sticky;
  font-size: 18px;
  font-weight: bold;
}
.trip-page .trip-list {
  padding: 16px;
  flex-direction: column;

  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 150px);
}
.item-details {
  display: flex;
  justify-content: space-between;
  padding-left: 14px;
  font-size: 13px;
}

.trip-list-item {
  align-items: center;
  margin-bottom: 18px;
  max-height: 350px;
}
.trip-list-item-title {
  font-weight: bold;
  font-size: 15px;
}
.trip-list:after {
  content: "";
  position: fixed;
  right: 32px;
  height: calc(100% - 62px);
  top: 32px;
  z-index: -1;
  width: 3px;
  border-right: 2px dashed black;
}
.trip-list-img {
  margin-top: 8px;
  margin-right: 40px;
  width: calc(100vw - 150px);
  max-width: 400px;
  padding-top: 56.25%;
  transition: width 0.5s ease-in-out;
}
.ordered .trip-list-img {
  margin-top: 8px;
  margin-right: 40px;
  width: calc(100vw - 80px);
  max-width: 400px;
  padding-top: 56.25%;
}
.item-description {
  margin-top: 8px;
  margin-right: 40px;
}

.trip-list-icon {
  margin-left: 24px;
  transform: translate(0px, 4px);
}

.item-suggestions .trip-list-icon {
  transform: translate(0px, -1px);
}
.item-description {
  font-size: 13px;
}
.icons svg {
  margin-left: 24px;
}
.icons {
  margin-right: 16px !important;
}
.item-suggestions {
  scroll-snap-type: x mandatory !important;
  overflow: scroll !important;
  width: 100vw !important;
}
.item-suggestions > .trip-list-item {
  scroll-snap-align: start end !important;
  margin-left: 20px !important;
}
.item-suggestions > .trip-list-item:last-child {
  padding-left: 120px !important;
}
.btn-small {
  align-self: center;
  background: var(--blue--main);
  padding: 8px 12px;

  color: white;
  transform: translate(-12px);
  border-radius: 313px;
}
.ordered .btn-small {
  align-self: center;
  background: var(--green--main);
  padding: 8px 12px;

  color: white;
  transform: translate(-12px);
  border-radius: 313px;
}

.info-span {
  padding: 0px 5px;

  max-width: 30%;
  border-left: 1px solid #0000005c;
}
.info-span:first-of-type {
  border-right: 1px solid #0000005c;
}
.rating * {
  direction: ltr;
}
.ordered {
  overflow: hidden !important;
}
