main:not([page="trip"]) .trip-page {
  transform: translate(-10000px, 0px);
  width: 0px;
  height: 0px;
  position: absolute;
}
.trip-page {
  position: absolute;
  top: 50px;
  transform: translate(0px, 0px);
  transition: transform 1s;
}
.trip-page .trip-details {
  position: sticky;
  top: 50px;
  border-bottom: 1px solid #0000001c;
  padding: 16px;
  background-color: white;
  z-index: 99;
  width: calc(100vw - 20px);

  display: flex;
  justify-content: space-between;
}
.trip-page .trip-title {
  position: sticky;
  font-size: 18px;
}
.trip-page .trip-list {
  padding: 16px;
  flex-direction: column;
  display: flex;
  position: relative;
  overflow-y: scroll;
  height: calc(100vh - 140px);
}
.trip-page .trip-list-item {
  display: flex;
  margin-bottom: 16px;
}
.trip-list-item {
  display: flex;
  align-items: center;
}
.trip-list-item-title {
  font-weight: bold;
}
.trip-list:after {
  content: "";
  position: absolute;
  right: 32px;
  height: calc(100% - 62px);
  top: 32px;
  z-index: -1;
  width: 3px;
  border-right: 2px dashed black;
}
.trip-list-img {
  margin-top: -10px;
  margin-right: 60px;
  margin-bottom: 24px;
}
.trip-list-img img {
  width: calc(100vw - 90px) !important;
}
.trip-list-icon {
  margin-left: 24px;
}
.icons svg {
  margin-left: 24px;
}
.icons {
  margin-right: 16px !important;
}
