main:not([page="when"]) .when {
  transform: translate(-10000px, 0px);
  height: 0px !important;
  margin: 0px;
  padding-left: 0px;
}

.when {
  margin-top: 50px;
  transform: translate(0px, 0px);
  transition: transform 1s;
}
.when-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  padding-top: 16px;
  align-items: center;
  flex-direction: column;
}

.btn-big {
  background-color: var(--main);
  width: fit-content;
  padding: 12px 36px;
  border-radius: 100px;
  bottom: 100px;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}
