main:not([page="when"]) .when {
  transform: translate(-10000px, 0px);
  height: 0px !important;
  margin: 0px;
  padding-left: 0px;
}

.when {
  margin-top: 50px;
  transform: translate(0px, 0px);
  transition: transform 1s;
}
.when-container {
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  padding-top: 16px;
  align-items: center;
  flex-direction: column;
}
.when-head {
  width: calc(100% - 80px);
  display: flex;
}
.when-head.sec {
  transform: translate(0px, 0px);
}
.previous-month svg {
  transform: scale(0.5);
}

.btn-big {
  background-color: var(--main);
  width: fit-content;
  padding: 12px 36px;
  border-radius: 100px;
  bottom: 128px;
  position: absolute;
  z-index: 9999;
  cursor: pointer;
}

.btn-big.disabled {
  opacity: 0.5;
  pointer-events: none;
}
.when .categories {
  width: 100%;
  overflow: scroll;
  transform: translate(0px, 15px);
}
.when .category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
}
.when .category img {
  border: 3px solid transparent;
  border-radius: 100px;
}
.when .category.select img {
  border: 3px solid var(--main);
}
.when .category span {
  margin-top: 6px;
}

.when .category img {
  width: 70px;
}
.loader {
  opacity: 0;
  position: absolute;
  transform: translate(30px, -10px) scale(0.5);
}
.load .loader {
  opacity: 1;
  position: absolute;
  transform: translate(30px, -10px) scale(0.5);
}
