* {
  font-family: "Rubik", sans-serif;
  scroll-behavior: auto;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
}
main {
  direction: rtl;
}
*::-webkit-scrollbar {
  display: none;
  user-select: none;
}
.gap-8 {
  gap: 12px;
}
.gap-12 {
  gap: 12px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
