* {
  font-family: "Rubik", sans-serif;
  scroll-behavior: auto;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
}
main {
  direction: rtl;
}
*::-webkit-scrollbar {
  display: none;
  user-select: none;
}
