* {
  font-family: "Rubik", sans-serif !important;
  scroll-behavior: auto;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
}
main {
  direction: rtl;
}
*::-webkit-scrollbar {
  display: none;
  user-select: none;
}
[page="where"] main[page="where"] {
  overflow: hidden;
  height: calc(100vh - 50px);
}
body {
  height: 100vh;
  overflow: hidden;
}
